<h2 class="header deep-orange-text text-darken-3">Notícias</h2>
<blockquote>
    Abaixo a lista das notícias existentes no sistema
</blockquote>

<div class="deep-orange-text text-lighten-1 breadcrumb"><i class="tiny material-icons">home</i> Notícias /
    Listar
</div>
<table class="hoverable">
    <thead>
    <tr>
        <th data-field="title">Titulo</th>
        <th data-field="message">Mensagem</th>
        <th data-field="action" class="right-align" style="width: 150px;">Ação</th>
    </tr>
    </thead>

    <tbody>
    <!-- BEGIN NOTICIAS_BLOCK -->
    <tr>
        <td>{TITLE}</td>
        <td>{MESSAGE}</td>
        <td class="right-align">
            <a href="#" onclick="Greh.load('noticias-edit','id={ID}');return false;"><i class="material-icons">edit</i></a>
            <a href="#" onclick="Greh.load('noticias-delete','id={ID}');return false;"><i class="material-icons">delete</i></a>
        </td>
    </tr>
    <!-- END NOTICIAS_BLOCK -->
    </tbody>
</table>
