<h2 class="header deep-orange-text text-darken-3">Adicionar Comentário</h2>
<blockquote>
    Preencha o formulário abaixo para adicionar um novo comnetário de um cliente sobre os nossos serviços.
</blockquote>

<div class="deep-orange-text text-lighten-1 breadcrumb"><i class="tiny material-icons">home</i> Comentários /
    Adicionar
</div>
<form onsubmit="Greh.submit(this); return false;" action="comentarios-store">
    <input type="hidden" name="user_id" value="{USER_ID}" />
    <div class="input-field">
        <input id="title_news" type="text" name="client" class="validate">
        <label for="title_news" class="deep-orange-text text-darken-3">Cliente:</label>
    </div>
    <div class="input-field">
        <textarea id="msg_news" name="message" class="materialize-textarea"></textarea>
        <label for="msg_news" class="deep-orange-text text-darken-3">Mensagem:</label>
    </div>
    <div class="input-field">
        <input type="submit" class="waves-effect waves-light deep-orange darken-3 btn" value="Enviar"/>
    </div>
</form>