<h2 class="header deep-orange-text text-darken-3">Comentários</h2>
<blockquote>
    Abaixo a lista dos comentários existentes no sistema
</blockquote>

<div class="deep-orange-text text-lighten-1 breadcrumb"><i class="tiny material-icons">home</i> Comentários /
    Listar
</div>
<table class="hoverable">
    <thead>
    <tr>
        <th data-field="title">Mensagem</th>
        <th data-field="message">Cliente</th>
        <th data-field="action">Ação</th>
    </tr>
    </thead>

    <tbody>
    <!-- BEGIN COMENTARIOS_BLOCK -->
    <tr>
        <td>{MESSAGE}</td>
        <td>{CLIENT}</td>
        <td><a href="#{ID}">Excluir</td>
    </tr>
    <!-- END COMENTARIOS_BLOCK -->
    </tbody>
</table>
