<form method="post" action="/admin/">
    <div class="card-content white-text">
        <span class="card-title teal-text text-darken-3">Login</span><span
            class="teal-text">.insira seus dados</span><br/>
        <br/>

        <div class="input-field">
            <input id="login" type="text" name="login" class="validate teal-text text-darken-4">
            <label for="login">Usuário:</label>
        </div>
        <div class="input-field">
            <input id="pass" type="password" name="pass" class="validate teal-text text-darken-4">
            <label for="pass">Senha:</label>
        </div>
    </div>
    <div class="card-action">
        <div class="input-field">
            <button class="waves-effect waves-light btn" type="submit">Login</button>
        </div>
    </div>
</form>
